<div class="root-container">
  <h1 class="game-heading">Start a New Blackjack Game</h1>
  <div class="game-container">
    <%= form_with model: @game, url: games_path, local: true, class: "w-full" do |form| %>
    <%# Number of players selection removed - single-player app by design %>
    <%= form.submit "Create Game", class: "btn-deal w-full" %>
    <% end %>
  </div>
</div>